/* src/components/Hero.css */

.hero {
  
  background-image: linear-gradient(to bottom, rgba(140, 141, 147, 0.52), #363636), url('../images/herobg.jpg');
  background-size: cover;
  background-color: #424242;
  color: white;
  text-align: center;
  padding: 100px 20px;
  transition: padding 0.3s ease;
}

.hero.collapsed {
  padding: 50px 20px;  /* Collapsed version with less padding */
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 10px;
}
