/* src/components/Section.css */
.section {
  background-color: #14223f;
    padding: 60px 20px;
    text-align: center;
  }
  
  .section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .section p {
    font-size: 1rem;
    padding: 10px 80px;
    color: #1294d2;
  }

  /* Mobile-friendly Styles */
@media (max-width: 768px) {
  .section {
      padding: 1.5rem;
  }

  .section h2 {
      font-size: 1.5rem;
  }

  .section p {
      font-size: 0.9rem;
      line-height: 1.4;
      padding: 0px 8px;
  }
}